.galery {
    width: 600px;
    height: 360px;
    background-color: black;
    overflow: hidden;
    margin: auto;
    position: relative;
    border: 15px solid #7e171d;
    border-radius: 10px;
}

.galery .fotos {
    position: absolute;
    display: flex;
    height: 100%;
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

.galery .fotos img {
    width: 20%;
}
